/* #imgprev {
    width: 600px;
    height: auto;
} */

.profilecanva {
    position: relative;
    width: 600px;
    height: 515px;
    margin: 0 auto;
}

#profilename,
#classof,
img#imgprev,
img#mainimg {
    position: absolute;
}


/* img#imgprev {
    left: 7.5rem;
    top: 9rem;
    width: 21rem;
} */

img#imgprev {
    left: calc(37.5rem - 31.5rem);
    top: calc(37.5rem - 30.38rem);
    width: calc(37.5rem - 22.5rem);
}

img#mainimg {
    left: 0;
    top: 0;
    z-index: 1;
    /* width: 37.5rem; */
    max-width: 37.5rem;
}

#profilename,
#classof {
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #13422e;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6rem;
    width: calc(37.5rem - 25rem);
    left: calc(37.5rem - 11.63rem);
}

p#profilename {
    top: 12.3rem;
}

p#classof {
    top: 17rem;
}

.space {
    height: 40px;
}