/* #imgprev {
    width: 600px;
    height: auto;
} */

.profilecanva {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#profilename,
#classof,
img#imgprev,
img#mainimg {
    position: absolute;
}


/* img#imgprev {
    left: 7.5rem;
    top: 9rem;
    width: 21rem;
} */

img#imgprev {
    left: calc(50rem - 42rem);
    top: calc(50rem - 40.5rem);
    width: calc(50rem - 30rem);
}

img#mainimg {
    left: 0;
    top: 0;
    z-index: 1;
    width: 50rem;
}

#profilename,
#classof {
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #13422e;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: calc(50rem - 35rem);
    left: calc(50rem - 15.5rem);
}

p#profilename {
    top: 16.7rem;
}

p#classof {
    top: 22.9rem;
}