/* #imgprev {
    width: 600px;
    height: auto;
} */

.profilecanva {
    position: relative;
    width: 500px;
    height: 397px;
    margin: 0 auto;
    overflow: hidden;
    /* background: url(../img/sma2.png) no-repeat;
    background-size: cover; */
}

#profilename,
#classof,
img#imgprev,
img#mainimg {
    position: absolute;
}


/* img#imgprev {
    left: 7.5rem;
    top: 9rem;
    width: 21rem;
} */

img#imgprev {
    left: 50%;
    top: 46%;
    width: calc(37.5rem - 22.5rem);
    transform: translate(-50%, -22%);
}

img#mainimg {
    left: 0;
    top: 0;
    z-index: 1;
    /* width: 37.5rem; */
    width: 100%;
}

#profilename,
#classof {
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: #13422e;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6rem;
}

p#profilename {
    top: 5.3rem;
    left: 50%;
    transform: translateX(-50%);
}

p#classof {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.space {
    height: 40px;
}